@{
    ViewBag.Title = "About";
}
<h1>About Me</h1>

<p>Hello, my name is Cepada Morgan and I am currently a fourth year student at the University of Cincinnati studying cybersecurity and software development. Some of my interests include web3, NFTs, fitness, and almost anything crypto related. I'm currently searching for a co-op in cybersecurity or software development for the summer of 2023.</p>


