@{
    ViewBag.Title = "About The Team";
}
<h2>Meet the Cyber Sim Aware Team</h2>

<p style="font-size: 15px;"> We are a group of senior students at the University of Cincinnati dedicated to honing their skills and knowledge in the dynamic fields of cybersecurity and IT. With a passion for safeguarding digital landscapes and combatting cyber threats, our team is committed to staying at the forefront of technology and security trends. We bring a fresh perspective, innovative thinking, and a deep understanding of the digital world to tackle the evolving challenges in the realm of cyber defense. Follow our journey as we explore the ever-changing world of cybersecurity and seek to make a meaningful impact in this critical domain.</p>

    
<h3>Team Members</h3>

 <p style="font-size: 13px;">
    <ul>
        <li>Cepada Morgan II</li>
        <li>Kaleab Michael</li>
        <li>John Pao</li>
        <li>Kolbe Saylor</li>
        <li>Jeffery Williams</li>
    </ul>
 </p>

