@{
    ViewBag.Title = "AboutMe";
}
<h1>About Me</h1>
    
<h2>My Nft Journey</h2>

    <p>Hello, my name is Cepada Morgan and I am currently a fourth year student at the University of Cincinnati studying cybersecurity and software development. I began my NFT journey in November of 2021 when I began seeing all these cool projects coming out, I have been interested in Cryptocurrecny since I was young so naturally NFTs attracted me. Throughout the past year I have seen many wins and losses with NFTs, but I am still surving and will continue to invest in the space because I firmly belive that NFTs, tokenization, and Cryptocurrecny are the future!</p>


