@{
    ViewBag.Title = "Home";
}

<h1>Welcome to my SIM Tracker!</h1>

<p>Check out some  SIMs.</p>

<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Sim" asp-action="List"
               class="list-group-item">View SIMs</a>
            <a asp-controller="Home" asp-action="About"
               class="list-group-item">Learn more about what SIMs are.</a>
        </div>
    </div>
</div>