@{
    ViewBag.Title = "Home";
}

<h1>Welcome to my NFT Tracker!</h1>

<p>Check out some of my favorite NFTs.</p>

<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Nft" asp-action="List"
               class="list-group-item">View NFTs</a>
            <a asp-controller="Home" asp-action="About"
               class="list-group-item">Learn more about what NFTs are and how I got into web3</a>
        </div>
    </div>
</div>