@{
    ViewBag.Title = "Home";
}

<h3>Welcome to the CyberSimAware tabletop excersise dashboard!</h3>

<p style="font-size: 15px;">Check out some of the most popular table top excersises in cybersecurity.</p>

<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Sim" asp-action="List"
               class="list-group-item">View SIMs & Table Top Excersises</a>
            <a asp-controller="Home" asp-action="About"
               class="list-group-item">Learn more about what SIMs and Table Top excersises are.</a>
        </div>
    </div>
</div>